<h1><%= t 'filter.list' %></h1>

<ul>
  <% @filters.each do |filter| -%>
    <%= content_tag :li, :id => dom_id(filter) do -%>
      <%= h filter.query %>
      <%= form_for :filter, :url => filter, :html => { :method => :delete } do |f| %>
        <%= f.submit t('filter.destroy_button') %>
      <% end -%>
    <% end -%>
  <% end -%>
</ul>

<%= form_for Filter.new do |f| -%>
  <%= render :partial => 'form', :locals => { :form => f } %>
<% end -%>
